.newHostel {
  width: 100%;
  display: flex;

  .newHostelContainer {
    flex: 6;


.newPostPage {
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;

  .formContainer {
    flex: 2;
    overflow-y: auto;
    padding: 20px;

    .wrapper {
      margin: 10px;
      .backButton {
  background-color: #f3f3f3;
  color: #333;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 48%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input, select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
            }
          }
        }

        .sendButton {
          width: 100%;
          max-width: 200px;
          border-radius: 5px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
          padding: 10px;
        }
      }
    }
  }

  .sideContainer {
    flex: 1;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .newPostPage {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: 0;

    .formContainer, .sideContainer {
      flex: none;
      width: 100%;
    }
  }
}
  }
}
